html,
body {
  height: 100%;
}

.sticky-footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 60px;
  line-height: 60px;
}

img {
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;
}

nav.navbar.navbar-expand-lg.navbar-dark.fixed-top,
.row {
  margin-bottom: 1em; 
}

footer {
  color: #ddd;
  text-decoration: none;
}

.navbar a, p {
  color: #343a40;
}
