html,
body {
  height: 100%;
}

.page-content {
  flex: 1 0 auto;
}

.sticky-footer {
  flex-shrink: none;
}

img {
  width: 30px;
  height: 30px;
}

a {
  text-decoration: none;  
}

.navbar, .row {
  margin-bottom: 1em; 
}

.navbar a, p {
  color: #343a40;
}
